controller_credential_input_sources:
{% for item in cac_credential_input_sources.json.results | sort( attribute="summary_fields.target_credential.name" ) | list %}
  - source_credential: {{ item.summary_fields.source_credential.name }}
    target_credential: {{ item.summary_fields.target_credential.name }}
    input_field_name: {{ item.input_field_name }}
    metadata:
  {% for key, value in item.metadata.items() %}
    {{ key }}: {{ value }}
  {% endfor %}
    description: {{ item.description }}
    state: present

{% endfor %}